/*开头部分*/
body {
  padding-top: 46px;
  position: absolute;
  width: 100%;
  margin: 0;
}
span {
  overflow: hidden;
  width: 2px;
  height: 2px;
}
iframe:hover {
  pointer-events: none;
}
header {
  width: 100%;
  line-height: 38px;
  background-color: #303643;
  position: fixed;
  top: 0;
  z-index: 2001;
}
header div .header-left {
  float: left;
}
header div .header-left li {
  float: left;
  margin: 4px 0;
}
header div .header-left a {
  font-size: 15px;
  color: #b0b0b0;
  display: block;
  padding: 0 10px;
}
header div .header-left a .fas {
  margin-right: 3px;
}
header div .header-left a:hover {
  color: #fff;
  background-color: #5d5d69;
}
header div .header-right {
  float: right;
}
header div .header-right li {
  float: left;
  margin: 4px 12px;
}
header div .header-right li a {
  width: 140px;
  background-color: #424242;
  text-align: center;
  font-size: 16px;
  color: #b0b0b0;
  display: block;
  padding: 0 10px;
}
header div .header-right li a .fas {
  margin-right: 3px;
}
header div .header-right li a .fa-wrench {
  margin-right: 6px;
}
header div .header-right li a:hover {
  background-color: #5d5d69;
  color: #fff;
}
header div .header-right li:first-of-type {
  margin: 0;
}
header div .header-right li:first-of-type a {
  width: 46px;
  padding: 0;
  margin: 0;
  position: relative;
}
header div .header-right li:first-of-type a .fa-qrcode {
  font-size: 30px;
  text-align: center;
  line-height: 46px;
  width: 46px;
  display: block;
}
header div .header-right li:first-of-type a div {
  width: 180px;
  height: 0;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 46px;
  left: -71px;
  transition: height 400ms;
  background-color: #5d5d69;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
header div .header-right li:first-of-type a div img {
  width: 150px;
  margin: 8px 15px;
}
header div .header-right li:first-of-type a div *:first-child {
  margin-top: 14px;
  display: block;
}
header div .header-right li:first-of-type a div *:last-child {
  margin-bottom: 14px;
  display: block;
}
header div .header-right li:first-of-type a div .myinfo {
  width: 100%;
  height: 25px;
  display: block;
  text-align: center;
  line-height: 25px;
  color: white;
}
header div .header-right li:first-of-type a:hover div {
  height: 426.7px;
}
#nav-header div {
  height: 80px;
  background-color: white;
  margin: 15px auto ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav-header div #title {
  font-weight: bold;
  font-size: 28px;
  float: left;
  height: 55px;
  margin: 12.5px 25px;
}
#nav-header div ul {
  float: left;
}
#nav-header div ul li {
  float: left;
  height: 60px;
  margin: 10px;
}
#nav-header div ul li a {
  display: block;
}
#nav-header div ul li a #logo-link-bilibili {
  margin: 0;
  height: 60px;
  width: 131px;
  background-image: url("../picture/bili-logo.png");
  background-size: cover;
  transition: all 0.2s;
}
#nav-header div ul li a #logo-link-bilibili:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav-header div ul li a #logo-link-hit {
  margin: 0;
  height: 60px;
  width: 241px;
  background-image: url("../picture/HITlogo.png");
  background-size: cover;
}
#nav-header div ul li a #logo-link-hit:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav-header div div {
  height: auto;
  margin: 20px;
  float: right;
  border: #e0e0e0 1px solid;
}
#nav-header div div form input,
#nav-header div div form button {
  float: left;
  height: 36px;
  padding: 0;
  border: #e0e0e0 1px solid;
  border-top: none;
  border-bottom: none;
}
#nav-header div div form input {
  border: none;
  padding: 0 10px;
  font-size: 15px;
}
#nav-header div div form input:focus {
  outline: 2px solid silver;
}
#nav-header div div form button {
  width: 44px;
  color: #616161;
  background-color: white;
  transition: background-color 0.25s;
}
#nav-header div div form button .fa-search {
  font-size: 23px;
}
#nav-header div div form button:hover {
  background-color: silver;
}
#toolbar {
  width: 48px;
  border: #bbb 1px solid;
  position: fixed;
  bottom: 100px;
  margin-left: 1250px;
  margin-right: -676px;
  right: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}
#toolbar li a {
  width: 46px;
  height: 48px;
  background-color: rgba(228, 231, 233, 0.84);
  border: 1px solid #bbbbbb;
  display: block;
  position: relative;
  overflow: hidden;
}
#toolbar li a i {
  text-align: center;
  line-height: 48px;
  font-size: 38px;
  position: absolute;
  color: #7d7d7d;
  transition: left 0.3s;
}
#toolbar li a .fa-angle-up {
  left: 50px;
  font-size: 45px;
}
#toolbar li a .fa-home {
  left: 0;
}
#toolbar li a .fa-cog {
  left: 3px;
}
#toolbar li a:first-child:hover .fa-angle-up {
  left: 8px;
}
#toolbar li a:first-child:hover .fa-home {
  left: -50px;
}
/*音乐盒*/
#music-box {
  top: 146px;
  right: 50%;
  margin-right: -930px;
  position: fixed;
  width: 300px;
  height: 452px;
  overflow: hidden;
}
#music-box iframe {
  width: 100%;
  height: 100%;
}
main {
  height: 2000px;
  margin-top: 27px;
  background-color: white;
}
main nav {
  width: 18%;
  margin: 12px;
  float: left;
  background-color: #e2e2e2;
  text-align: center;
  display: flex;
  flex-direction: column;
}
main nav h2 {
  font-size: 18px;
  letter-spacing: 1px;
}
main nav a {
  height: 40px;
  display: block;
  font-size: 17px;
  line-height: 40px;
}
main nav a:hover {
  background-color: #333333;
  color: #d0d0d0;
}
main article {
  float: left;
  width: 1000px;
}
main article #verLog {
  max-height: 400px;
  overflow: auto;
  margin: 12px auto;
  padding: 0;
  border: solid 1px #777;
  width: 768px;
}
main article #verLog ul {
  margin: 12px 30px;
  list-style: circle;
}
main article #verLog ul li h2 {
  font-size: 20px;
}
main article #verLog ul li h3 {
  font-size: 18px;
}
main article #verLog ul li p {
  font-size: 16px;
}
main article #verLog ul li:first-child {
  list-style: none;
}
main article #schedule {
  margin: 12px;
  border: #d4d4d4 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
main article #scheduleTop {
  font-size: 24px;
  text-align: center;
  margin: 16px;
}
main article #scheduleDay {
  float: right;
  margin: 6px;
  height: 18px;
  background-color: #bfa;
}
main article #scheduleContent {
  margin: 4px;
}
main article #scheduleContent a:hover {
  color: red;
}
main article #scheduleContent td,
main article #scheduleContent th {
  border: #d4d4d4 1px solid;
  text-align: center;
}
main article #google-calendar {
  margin: 12px auto;
  padding: 0;
  border: solid 1px #777;
  width: 768px;
  height: 600px;
}
main article #google-calendar iframe {
  width: 100%;
  height: 100%;
}
footer {
  padding-top: 20px;
  text-align: center;
  background-color: #222222;
}
footer .ICP {
  text-align: center;
  margin: 12px;
}
footer .ICP a {
  font-size: 16px;
  color: white;
}
footer .email-link,
footer h2 {
  font-size: 16px;
  line-height: 23px;
  color: white;
}
/*# sourceMappingURL=style.css.map */