a{color: rgb(51,51,51);}
.clearfix::after,
.clearfix::before{
    content: '';
    display: table;
    clear: both;
}
/*body属性*/
body{
    background-color: #f0f0f0;
    min-width: 1250px;
}
.w1250{
    width: 1250px;
    margin: 0 auto;
}